<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Project Management System</title>
  </head>
  <nav
    class="navbar navbar-expand-lg navbar-light"
    style="background-color: #e3f2fd;">
    <span class="navbar-brand mb-0 h1">Project Management System</span>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item" >
          <a class="nav-link" href="projects/index">Projects</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="/projects/profile">Profile</a>
        </li>
       
          <li class="nav-item ">
            <a class="nav-link" href="#">Users</a>
          </li>
        
      </ul>
    </div>
    <a
      href="#"
      class="form-inline btn btn-outline-success my-2 my-sm-0"
    >
      Sign Out
    </a>
  </nav>
  <body>