<% include ../partials/headers %>


<div class="d-flex" id="wrapper" style="margin-top: 3.9%">
    <% include ../partials/sidebar %>
        <!-- Sidebar -->


        <!-- Page Content -->
        <!-- <div id="page-content-wrapper" style="background-color: cornsilk"> -->
        <div class="container-fluid">
            <div class="container-fluid">
                <h2 style="margin-top: 1%">Activity</h2>
                <hr class="mt-1">
            </div>
            <div class="container-fluid">                
                <div class="card">
                    <div class="card-body">
                        <div class="container">
                            <div class="row">
                                <div class="col-12 col-md-8"> Activity
                                    <ul>
                                        <li> </li>
                                        <li>  </li>
                                        <li> </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
        
        <!-- </div> -->
</body>

</html>