<% include ../partials/headers %>

    <h1>Projects</h1>
    <h2>Filters</h2>
    <div class="container" style="padding-top: 20px">
    <form action="/projects" method="GET">       
      <input type="hidden" name="page" value="1" /> 
      <!---------Menampilkan box id------->
    <div class="row">
        <div class="col-sm-2">
            <div class="form-check">
                <input class="form-check-input" 
                type="checkbox" 
                name="ckid"
                 />
                <label class="form-check-label">ID</label>
            </div>
        </div>
        <div class="col-sm-10">
            <div class="form-group">
                <input type="text" class="form-control" id="id" name="id"
                placeholder="ID"/>
            </div>
          </div>
    </div>
    <!---------Menampilkan box Nama------->
    <div class="row">
        <div class="col-sm-2">
            <div class="form-check">
                <input class="form-check-input" 
                type="checkbox" 
                name="ckname"
                />Name
            </div>
        </div>
        <div class="col-sm-10">
            <div class="form-group">
                <input 
                type="text" 
                class="form-control" 
                id="name" 
                name="name"
                placeholder="Name"
                 />
                </div>
             </div>
        </div>
        <!-------Menampilkan box Member -------->
        <div class="row">
          <div class="col-sm-2">
              <div class="form-check">
                  <input class="form-check-input" type="checkbox" name="ckmember"/>Member
              </div>
          </div>
          <div class="col-sm-5">    
                  <div class="form-group">                    
                      <select class="form-control" name="member">
                      <option value="">Choose the member..</option>
                      <option value="true">True</option>
                      <option value="false">False</option>
                      </select>
                  </div>    
            </div>
        </div>
            <button type="submit" class="btn btn-primary" style="border-radius: 20px;">Search</button>
            
          </div>
          <h1>Options</h1>

          <!---------Menampilkan box Column checkbox------->
          <form action="/projects/column" method="GET">
            <div class="container">
              <div class="row">
                <div class="col-sm-2">
                  <p>Columns</p>
                </div>
                <div class="col-sm-2">
                  <div class="form-check">
                    <input class="form-check-input btn-primary " type="checkbox" name="idChecked"
                     /> ID
                  </div>
                  <div class="form-check">
                    <input class="form-check-input btn-primary" type="checkbox"
                    name="nameChecked" /> Name
                  </div>
                  <div class="form-check">
                    <input class="form-check-input btn-primary" type="checkbox"
                    name="memberChecked" /> Members
                  </div>
                </div>
              </div>
            </div>
            <button type="submit" class="btn btn-info" style="border-radius: 20px; margin-bottom: 20px;">Apply</button>
          </form>   
       
        <!---------Menampilkan box Tabel------->
        
        <table class="table table-striped" border="1">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nama</th>
                <th scope="col">Action</th>
            </tr>  
            <% data.forEach(data => { %>
              <tr>
                  <td><%= data.projectid %></td>
                  <td><%= data.name %></td>
                  <td><a class="btn btn-success" style="border-radius: 15px;" href="/projects/edit/<%= data.projectid %>">Edit</a>
                      <a class="btn btn-danger" style="border-radius: 10px;" href="/projects/deleted/<%= data.projectid %>">Delete</a>
                  </td>
                </tr>
            <% }); %>
            
        </table>
        <a class="btn btn-primary" style="border-radius: 20px;" href="/projects/add">ADD</a>

      
          
    </div>
    
</div>

</form>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
 
    <% include ../partials/footers %>
